

#outer-container-products {
    display: flex;
    height: max-content;
    min-height: 1000px;
}

#inner-container-products {
    display: flex;
    height: max-content;
    min-height: 1000px;

}

#intro-section{
    height: 100px;
    color: green;
}

#outro-section {
    height: 50px;
}

.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}


.products {
    gap: 50px;
    column-count: 3;
    padding: 50px;
    column-gap: 50px;
}




