

#outer-container-products {
    display: flex;
    height: max-content;
}

#inner-container-products {
    display: flex;
    max-width: 1600px;

}

#intro-section{
    height: 100px;
    color: green;
}

#outro-section {
    height: 50px;
}


#top-section {
    display: flex;
    justify-content: center;
}


.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-count: 3;
    column-gap: 60px;
    flex-wrap: wrap;
}




