button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-weight: 900;
    border-radius: 4px;
    /*border-color: var(--color-button);*/
    /*background-color: var(--color-button);*/
    background: linear-gradient(145deg,
                rgba(5,0,6,1) 0%,
                rgba(83,0,99,1) 13%,
                rgba(149,11,176,1) 29%,
                rgba(131,115,255,1) 50%,
                rgba(154,2,191,1) 67%,
                rgba(43,9,121,1) 83%,
                rgba(10,1,7,1) 100%);
    font-family: var(--font-button);
    color: var(--color-button-text);

}

button:active {
    background: var(--color-button-active);
    border-color: var(--color-button-active);
}






























