
.counter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.btn {
    width: 90px;
    height: 25px;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    border: black;
    background-color: var(--color-button);
    font-size: 25px;
}

.counter-button {

}

#count-value {
    color: white;
    margin: 12px 12px;
}