
#outer-container__register {
    height: 1000px;
    font-family: var(--font-headings);
}

#inner-container__register {
    width: 1600px;
}

#register-button__outercontainer {
    height: 150px;
}

.register-button__outercontainer {
    height: 500px;
}

.register {
    display: flex;
    width: 350px;
    height: 50px;
    font-family: var(--font-body);
    font-size: 15px;
}

.register-warning-msg {
    color: red;
    margin-bottom: 25px;
}



