
nav {
    position: sticky;
    top: 0;
    font-family: var(--font-headings);
}

.active-menu-link {
    text-decoration-line: none;
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    50% {color: orange;
    }
}

.default-menu-link {
    border-bottom: none;
    color: whitesmoke;
    text-decoration-line: none;
}

.outer-container-navbar {
    display: flex;
    justify-content: center;
    height: 100px;
    text-underline-style: none;
    background-color: var(--background-color-navbar);
    color: orange;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 1530px;
    margin-right: 50px;
    list-style: none;
    color: orange;
}

.navbar-list-items {
    margin-right: 30px;
    font-size: 20px;
}

#nav-list-links {
    display: flex;
    align-items: center;
}







