nav {
    position: sticky;
    top: 0;
    font-family: var(--font-headings);
}

.outer-container-navbar {
    display: flex;
    justify-content: center;
    height: 100px;
    text-underline-style: none;
    background-color: var(--background-color-navbar);
    color: orange;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 1530px;
    margin-right: 50px;
    list-style: none;
    color: orange;
}

.navbar-list-items {
    margin-right: 30px;
    font-size: 20px;
}

#nav-links {
    display: flex;
    align-items: center;
}


#login-button {
    display: flex;


}

.cart{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.active-menu-link {
    text-decoration-line: none;
    color: #a22aff;
    font-weight: bolder ;
}


.default-menu-link {
    border-bottom: none;
    color: whitesmoke;
    text-decoration-line: none;
}

.nav-button {
    background: var(--color-nav-button)
}














