
#register-button__outercontainer {
    height: 90px;
}

.register-form__innercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register {
    width: 400px;
    height: 50px;
    font-family: var(--font-body);
    font-size: 15px;
    color: gainsboro;

}


#outer-container__register {
    height: 650px;
    font-family: var(--font-headings);

}

#inner-container__register {
    height: 800px
}

