

#farmer-picture {
    display: flex;
    height: 350px;
    width: 600px;
}

#outer-container__profile {
    height: 900px;
}

#inner-container__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 900px;
    width: 1600px;
}

.register-title {
    margin-bottom: 15px;
    font-family: var(--font-headings) ;
}

.profilePage-fields {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: var(--font-body);
}

.newProfile {
    padding: 4px;
    width: 250px;
}

.profilePage-section {
    display: flex;
    flex-direction: row;
}

.profile-button {
    margin-bottom: 60px;
}

#outer-container__button {
    height: 100px;
}

#inner-container__button {
    height: 100px;

}

