
#outer-container {
    height: 900px;
}

.login {
    width: 400px;
    height: 40px;
}


.login-btn {
    margin-top: 25px;
}

.login-title {
    margin-bottom: 10px;
    font-family: var(--font-headings);
    font-size: 30px;
}