@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=PT+Serif&display=swap');

/*CSS RESET*/


* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    overflow-wrap: break-word;
}

ul[role='list'],
ol[role='list'],
li[role='list']{
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*GLOBAL STYLES*/

#root {

    --font-headings: 'PT Serif', serif;
    --font-body: 'Roboto Condensed', sans-serif;
    --font-button: 'Cabin', sans-serif;

    --background-color-navbar: black;
    --color-header-text: white;
    --background-color-section: #f5f3f4;
    --color-nav-button: linear-gradient(90deg, rgba(227,23,211,1) 0%, rgba(0,0,0,1) 0%, rgba(78,76,78,1) 18%, rgba(133,131,134,1) 50%, rgba(69,68,69,1) 84%, rgba(0,0,0,1) 100%);
    --color-button: #e317d3 ;
    --color-button-text: white;
    --color-button-active: darkblue;
    --background-color-footer: black;
    --text-color-footer: white;

    --page-width: 90vw;
    --page-height: 400px;


}

/*REUSEABLES*/

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--page-height);
    width: 100vw;

    background-color: var(
            --background-color-section);

    /*border: 2px solid blue;*/

}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--page-height);
    flex-basis: 1600px;
    /*border: 2px solid mediumpurple;*/

}


.warning-msg {
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
