
.mid-section {
    height: 400px;
    width: 1100px;
    margin-left: 72px;
    margin-top: 25px;
}

.mid-section-text {
    padding: 13px;
    font-size: 20px;
    font-family: var(--font-body);
}

#mid-section-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 68px;
    margin-left: 12px;
    margin-top: 20px;
}

#farmers-button {
    margin-left: 80px;
}

.mid-section-farmers {
    height: 400px;
    width: 1100px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-body);
}

.farmers-text {
    padding: 13px;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 35px;
    font-family: var(--font-body);


}

.farmers-title {
    font-family: var(--font-headings);
    color: whitesmoke;
    padding: 13px;



}

.mid-section-title {
    font-family: var(--font-headings);
    padding: 13px;

}

#inner-button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 800px;

}

#outer-button-section {
    height: 500px;
    background-color: whitesmoke;
}

#outer-farmers-section {
    background-image: url("../../assets/productPageContent/piglets.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
}

#inner-farmers-section {
    display: flex;
    flex-direction: row;
}



#inner-bottom-section-tile {
    height: 600px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#outer-bottom-section-tile {
    height: 600px;

}

.product-tile {
    font-family: var(--font-headings);
    height: 400px;
    width: 400px;
    color: whitesmoke;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
                rgba(0, 0, 0, 0.07) 0px 2px 4px,
                rgba(0, 0, 0, 0.07) 0px 4px 8px,
                rgba(0, 0, 0, 0.07) 0px 8px 16px,
                rgba(0, 0, 0, 0.07) 0px 16px 32px,
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
    clip-path: circle(50% at 50% 50%);

}

